%h2= t 'helpers.titles.editing', name: Hotel.model_name.human

= render 'form'

= link_to t('helpers.links.show'), @hotel, class: 'btn btn-primary'
= link_to t('helpers.links.back'), hotels_path, class: 'btn btn-primary'